@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');

:root{
    --white-color :  #ffffff;
    --white-color-300 : #f1f3f9;
    --black-color : #111213;
    --lightgray-color : #838383;

    --border-color : 2px solid rgba(255, 255, 255, 0.5);
    --text-strokes : 2px var(--white-color);

    --primary-font : 'Parkinsans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--black-color);
    color : var(--primary-color);
    font-family: var(--primary-font);

}

.container{
    max-width : 1500px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;


}
.nav__menu{
    position: relative;
}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background-color: var(--white-color-300);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 999;
    position: fixed;
    top: 50px;
    right:50px;

}

#hamburger .line{
    width: 20px;
    height: 2px ;
    background-color: var(--black-color);
    border-radius: 5px;
    position: absolute;
    transition: all 0.2s;
}

#hamburger .line:nth-child(1) {top : 58%;}
#hamburger .line:nth-child(2) {top : 42%;}

#hamburger:hover .line:nth-child(1){
    transform: rotate(-360deg) translateY(-5px);
}

#hamburger:hover .line:nth-child(2){
    transform: rotate(4500deg) translateY(5px);
}

#hamburger.active .line:nth-child(1){
    transform: rotate(45deg) translate(-3px, -4px);
}

#hamburger.active .line:nth-child(2){
    transform: rotate(-45deg) translate(-3px, 4px);
}

/* Circle pointer */
#pointerCircle{
    position: fixed;
    width: 80px;
    height: 80px;
    border: var(--border-color);
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.1s ease;
    transform: translate(-50%, -50%);
    z-index : 1000;
    mix-blend-mode: difference;
}